# Old Python output
/venv/
/data/
/.run/
/dist/
/build/
/__pycache__/
*.pyc
.env

# Jetbrains IDEs
/.idea/
*/.idea/
*.user

# Build output
/client/bin/
/bin/
/client/obj/
/obj/
*.exe

# Testing artifacts
sample*
*.zip
