#cassiopeia~=5.0.3 #doesn't work on current version and won't accept PRs, so we'll use my fork
cassiopeia @ git+https://github.com/zbee/cassiopeia.git
#cassiopeia-diskstore~=1.1.3 #didn't version bump with my PR, so we'll use my fork
cassiopeia-diskstore @ git+https://github.com/zbee/cassiopeia-datastores.git#egg=cassiopeia-diskstore&subdirectory=cassiopeia-diskstore
# Has to be included as a git dependency anyways, so we'll use my fork to cache play-rate data
role-identification @ git+https://github.com/zbee/role-identification@master

requests~=2.31.0
python-dotenv~=1.0.0
timeago~=1.0.14
pytz~=2023.3.post1
Pillow~=10.0.1
dearpygui~=1.10.1
numpy~=1.26.0
